DATABASES = {
    'default': {
            'ENGINE': 'django.db.backends.postgresql_psycopg2',
            'NAME': 'djproject',
            'USER': 'mydjangouser',
            'PASSWORD': 'z1x2c3V$B%N^',
            'HOST': 'localhost',
            'PORT': '',
    }
}  